$def with (data,button)
<section class="content-header">
   <h1> 用户管理 <small>User management</small> </h1>
   <ol class="breadcrumb"> 
    <li><a href="/"><i class="fa fa-home"></i>Home</a></li> 
    <li class="active">用户管理</li>
  </ol>
</section> 
<!-- 页面头部 --> 
<style>
  .edit_button .btn{
    width:100px !important;float:left;margin:10px;
  }
  .selected {
    background-color: #3c8dbc !important;
  }
  .shell_history_content{
    height: 500px;

    /*position:absolute;*/
    bottom:0px;
    vertical-align:bottom;
    display:table-cell; 
    white-space:normal;
  }
  .shell_history_content pre{
    border: 0;
  }
  .shell_history{
    border:1px solid #000000; 
    OVERFLOW-Y: auto;
    OVERFLOW-X:auto;
    background-color: #eee;
    width:100%;
    height: 500px;
  }
  #shell_textarea{
    overflow-y:visible;
    width:100%;
  }
  .input_notice{
    margin:2px;
  }
</style>
<!-- 页面内容 --> 
<section class="content"> 
  <div class="row"> 
   <div class="col-xs-12"> 
    <div class="box"> 
    <div class="box-header"> 
      <h5>提示: 先选取要编辑的用户，然后再点击相应的按钮。注:批量修改只支持修改权限</h5>
      <div class="row">
        <div class="col-sm-4">
          <div class="edit_button">
            $for i in button:
              <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#$i[1]">$i[0]</button>
          </div>
        </div>
        <div class="col-sm-5">

        </div>
        <!--username,full_name,position,mobile_phone,email,jurisdiction,registered_time-->
        <div class="col-sm-3">
         <form method="post" id="search">
          <select name="search_type" class="pull-left form-control" style="width:90px;text-align: center;">
            <option value="ip">账号</option>
            <option value="hostname">全名</option>
            <option value="services">职位</option>
            <option value="machine_room">手机</option>
            <option value="description">邮箱</option>
            <option value="description">权限</option>
          </select>
          <div class="input-group margin">
            <input type="text" class="form-control" placeholder="服务器搜索" name="search_word">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-info btn-flat" >搜索</button>
            </span>
          </div>
        </form>
        </div>
      </div>
    </div>
     <!-- /.box-header --> 
     <div class="box-body"> 
      <div class="dataTables_wrapper form-inline dt-bootstrap">
       <div class="row">
        <div class="col-sm-12">
          <table id="users" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>账号</th>
                <th>全名</th>
                <th>职位</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>权限</th>
                <th>注册时间</th>
                <th>最后更新时间</th>
              </tr>
            </thead>
            <tbody>
              $for user in data:
                <tr sid='$user[0]' ><th>$user[1]</th><th>$user[2]</th><th>$user[3]</th><th>$user[4]</th><th>$user[5]</th><th><a id="role" href="#$user[6]">点击查看详细权限</a></th><th>$user[7]</th><th>$user[8]</th></tr>
            </tbody>
          </table>
        </div>
       </div>
     <!-- /.box-body --> 
    </div>
    <!-- /.box --> 
   </div>
   <!-- /.col --> 
  </div>
</section> 
  <!-- 页面内容结束 -->

<!-- create_user Modal -->
<div class="modal fade" id="create_user" tabindex="-1" role="dialog" aria-labelledby="terminal_title">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="terminal_title">新建用户</h4>
      </div>
      <div class="modal-body">
        <form id="create_user_form" class="form-horizontal" style="width:800px">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="acounct">帐号</label>
            <div class="col-sm-10">
              <input type="text" placeholder="帐号" name="acounct" class="form-control">
              <div class="input_notice">格式：纯字母,3-20位</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="full_name">姓名</label>
            <div class="col-sm-10">
              <input type="text" placeholder="姓名" name="full_name" class="form-control">
              <div class="input_notice">格式：1-5个汉字</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="password">密码</label>
            <div class="col-sm-10">
              <input type="password" placeholder="密码" name="password" class="form-control">
              <div class="input_notice">格式：4-15位,字母开头，允许字母数字和_!@#%^&特殊字符</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="repassword">密码确认</label>
            <div class="col-sm-10">
              <input type="password" placeholder="密码确认" name="repassword" class="form-control">
              <div class="input_notice">格式：重复输入以上密码</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="phone">手机</label>
            <div class="col-sm-10">
              <input type="text" placeholder="手机" name="phone" class="form-control">
              <div class="input_notice">格式：11位数的手机号码</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="email">邮箱</label>
            <div class="col-sm-10">
              <input type="email" placeholder="邮箱" name="email" class="form-control">
              <div class="input_notice">格式：xxx@xxx.com</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="jurisdiction">权限</label>
            <div class="col-sm-10">
              <input type="text" placeholder="权限" name="jurisdiction" class="form-control">
              <div class="input_notice">格式：1-5个汉字</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="create_user_submit">新建用户</button>
      </div>
    </div>
  </div>
</div>
<!-- create_user Modal End -->
<script type="text/javascript">
  //点击查看权限
  jQuery("#users tbody tr").on('click','a',function(){
    alert(jQuery(this).attr("href"));
    return false;
  });

  //点击用户列表 变色
  jQuery("#users tbody").on("click","tr",function(){
    jQuery("#users tbody tr").removeClass('selected');
    jQuery(this).toggleClass('selected');
  });

  //搜索
  jQuery("#search").submit(function(){
    jQuery.post('/batch/search',jQuery(this).serialize(),function(result){
        var str;
        var result = jQuery.parseJSON(result);
        for(i=0;i<result.length;++i){
          str += "<tr sid='"+result[i][0]+"' user='"+result[i][3]+"'><th>"+result[i][1]+"</th><th>"+result[i][2]+"</th><th>"+result[i][4]+"</th><th>"+result[i][5]+"</th><th>"+result[i][6]+"</th></tr>"; 
        }
        jQuery("#users tbody").html(str);
    });
    return false;
  });

  //如果没有选中用户，弹出警告。
  jQuery("#terminal_button").click(function(){
    if(jQuery("#users tbody tr[class='selected']").length < 1){
      alert("没有选择用户");
      return false;
    }
  });

  // input 焦点离开判断输入是否合法
  jQuery("#create_user_form input").blur(function(){
    var this_input = jQuery(this);
    //验证帐号，纯字母,3-20位
    if(this_input.attr("name") == "acounct"){
      var status = /^[a-z]{3,20}$$/.test(this_input.val());
      messages = "帐号格式错误";
    }else if(this_input.attr("name")=="full_name"){
      //验证姓名，1-5个汉字
      var status = /^[\u4e00-\u9fa5]{1,5}$$/.test(this_input.val());
      messages = "姓名格式错误";
    }else if(this_input.attr("name")=="password"){
      //验证密码，4-15位,字母开头，允许字母数字和"_!@#%^&"特殊字符
      var status = /^[a-zA-Z][a-zA-Z0-9_!@#%^&]{4,15}$$/.test(this_input.val());
      messages = "密码格式错误";
    }else if(this_input.attr("name")=="repassword"){
      //密码确认
      var repassword = jQuery("#create_user_form input[name='password']").val();
      status = repassword == this_input.val() && repassword;
      messages = "密码为空或者不一致";
    }else if(this_input.attr("name")=="phone"){
      //验证手机
      var status = /^^[1][3578][0-9]{9}$$/.test(this_input.val());
      messages = "手机格式错误";
    }else if(this_input.attr("name")=="email"){
      //验证邮箱
      var status = /^[\w!#$$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/.test(this_input.val());
      messages = "邮箱格式错误";
    }else if(this_input.attr("name")=="jurisdiction"){
      //权限验证
      var status = /^[\w!#$$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/.test(this_input.val());
      messages = "权限格式错误";
    }else{
     //未知输入框
    }
    result(this_input,status,messages);
  })

  //处理并显示验证结果
  function result(obj,status,messages){
      if(status){
        obj.parent().removeClass("has-error").addClass("has-success");
      }else{
        //将input框设置为红色error状态
        obj.parent().removeClass("has-success").addClass("has-error");
        //发生错误的input框 振动提示
        obj.effect("shake",{times:3},500);
        //显示错误提示并在8秒后消失
        jQuery("#create_user_form").append("<div style='text-align:center;color:#f25d8e;'>"+messages+"</div>").children().last().fadeOut(8000);
      }
  }

  //执行新建用户
  jQuery("#create_user_submit").click(function(){
    //提交
    var command = jQuery("#shell_textarea").val();
    post_str = "&command="+command+"&sid[]="+sid.join('&sid[]=');
    // alert(post_str);
    // return false;
    jQuery.post("/batch/executive",post_str,function(result){
      //jQuery(".shell_history_content").append("<pre><div>"+"SHELL# "+jQuery("#shell_textarea").val()+"</div>"+result+"</pre>");
      title = result.split("/");
      jQuery(".shell_history_content").append("<pre><div>SHELL# "+command+"</div><a target='_blank' href='"+result+"'>"+title[2]+"</a></pre>");
      //jQuery("#shell_textarea").val("");
    });

  });

</script>